@import "variables";
@import "bootstrap";


@include media-breakpoint-down(sm) {
    .navbar-dropdown {
        .dropdown-menu {
            border: 0px !important;
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
            background-color: $body-bg;
        }

        .dropdown-item:not(:last-child) {
            border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }
}
